
button {
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

button:active {
    background-color:lightgrey;
}

#goToCenter {
    padding: 0.5em;
    margin: 1em;
}

#formulaRemoveButton {
    color: red;
    margin-left: 0.5em;
}


body {
    background-color: rgb(240, 240, 240);
}

.formulaInnerContainer {
    vertical-align: middle;
    margin: 1em;
}

canvas {
    background-color: white;
}

#canvasContainer {
    height: 100%;
    width: 70%;
    float: left;
    padding: 0em;
}

@media screen and (max-width: 85em){
    #canvasContainer {
        height: 100%;
        width: 90%;
        padding: 0em;
    }

    #rightSidePanel {
        width: 100%;
        margin-left: 3em;
    }
}

#rightSidePanel {
    float: right;
    text-align: center;
    margin-right: 2em;
    margin-left: 3em;
    min-width: 20em;
}

#formulaLabel {
    font-family: monospace;
}

#formulaTextBox {
    font-family: monospace;
    border-color: gray;
}

#coordinates {
    font-family: monospace;
    z-index: 10;
    position: absolute;
}

#graphingPlane {
    margin-left: 1cm;
    margin-right: 1cm;
}

h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}